<h2>会員一覧</h2>
<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <%= @members.each do |member| %>
      <tr>
        <!--会員ID-->
        <td><%= member.id %></td> 
        <!--会員名-->
        <td><%= member.name %></td>
        <!--メールアドレス-->
        <td><%= member.email %></td>
        <!--会員ステータス-->
        <td><%= member.status</td>
      </tr>
    <% end %>
  </tbody>
</table>