<div class="container">
   <div class="row">
     <div class="col-8 mt-3 mx-auto">
        <label class="h4 bg-light pr-3 pl-3 mp-0">商品新規登録</label>
          <table class="table mt-4 table-borderless bg-white">
            <div>
              <%= form_with model: @item, url: admin_items_path, method: :post, local: true do |f| %>
                <%= render "admin/admin/shared/error_messages", resource: @item %>
                <tr>
                  <td><%= f.label :image, '商品画像' %></td>
                  <td><%= f.file_field :image, accept: "image/*" %></td>
                </tr>
                <tr>
                  <td><%= f.label :name, '商品名' %></td>
                  <td><%= f.text_field :name, class:"form-control" %></td>
                </tr>
                <tr>
                  <td><%= f.label :introduction, '商品説明' %></td>
                  <td><%= f.text_area :introduction, rows: "5", class:"form-control" %></td>
                </tr>
                <tr>
                  <td><%= f.label :genre_id, 'ジャンル' %></td>
                  <td><%= f.collection_select :genre_id, Genre.all, :id, :name,{prompt: "選択してください"}, class:"form-control" %></td>
                </tr>
                <tr>
                  <td><%= f.label :price, '税抜価格' %></td>
                  <td><%= f.number_field :price, class:"form-control-sm" %>円</td>
                </tr>
                <tr>
                    <td>
                      <%= f.label :is_active, '販売ステータス' %>
                    </td>
                    <td>
                      <%= f.radio_button :is_active, true %>
                      <%= f.label :is_active, '販売中', value: true %>
                      <%= f.radio_button :is_active, false %>
                      <%= f.label :is_active, '販売停止中', value: false %>
                    </td>
                </tr>
                <tr>
                  <td></td>
                  <td><%= f.submit '新規登録', class: "btn btn-success w-40" %></td>
                  <td></td>
                </tr>
              <% end %>
            </div>
          </table>
    </div>
  </div>
</div>

