
<%= link_to "ログアウト", destroy_member_session_path, method: :delete %>

<%= link_to 'マイページ', my_page_path %>

<div>
  <h4>ジャンル検索</h4>
  <% @genres.each do |genre| %>
  <ul>
    <li><%= link_to genre.name, items_path(genre_id: genre.id) %></li>
  </ul>
  <% end %>
</div>

<div>
  <p>
    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </p>
</div>

<div>
  <h2>
    新着商品
  </h2>
  <% @items.first(4).each do |item| %>
    <div>
      <p>
        <%= link_to item_path(item) do %>
        (画像が入ります）
        <% end %>
      </p>
      <p><%= item.name %></p>
      <p><%= item.number_to_currency(item.price) %></p>
    </div>
  <% end %>
</div>

<%= link_to '全ての商品を見る', items_path %>



