<div class="container">
  <div class="row">
    <div class="col-8">
      <h4>注文履歴詳細</h4>
      <table class="table table-borderless">
        <tr>
          <th>購入者</th>
          <td><%= link_to "#{@order.member.last_name} #{@order.member.first_name}", admin_member_path(@order.member) %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>〒<%= @order.member.postal_code.to_s.insert(3, "-") %> <%= @order.member.address %><br><%= @order.shipping_name %></td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td><%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
              <%= f.select :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]} %>
              <%= f.submit "更新", class:"btn btn-success btn-sm" %>
              <% end %>
          </td>
        </tr>
      </table>
      <table>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <% @order_item.each do |order_item| %>
        <tbody>
          <tr>
            <td><%= order_item.item.name %></td>
            <td><%= order_item.tax_in_price.to_s(:delimited) %></td>
            <td><%= order_item.quantity %></td>
            <td>
              <% subtotal = (order_item.tax_in_price*order_item.quantity).to_s(:delimited) %>
              <%= subtotal %>
            </td>
            <td>
              <%= form_with model: [@order,order_item], url: admin_order_order_detail_path(@order,order_item), method: :patch do |f| %>
              <%= f.select :production_status, OrderItem.production_statuses.keys.map {|k| [I18n.t("enums.order_item.production_status.#{k}"), k]} %>
              <%= f.submit "更新", class:"btn btn-success btn-sm" %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-4">
      <table>
        <tr>
          <th>商品合計</th>
          <td><%= (@order.total_payment - @order.postage).to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.postage %>円</td>
        </tr>
        <tr>
          <th>請求金額合計</th>
          <td>
            <%= @order.total_payment.to_s(:delimited) %>円
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>