<h2>マイページ</h2>

<p>登録情報  <%= link_to '編集する', members_edit_path %></p>

<p>氏名 <%= current_member.last_name %> <%= current_member.first_name %></p>
<p>カナ <%= current_member.last_name_kana %> <%= current_member.first_name_kana %></p>
<p>郵便番号 <%= current_member.postal_code %></p>
<p>住所 <%= current_member.address %></p>
<p>電話番号 <%= current_member.phone_number %></p>
<p>メールアドレス <%= current_member.email %></p>

<p>配送先  <%= link_to '一覧を見る', addresses_path %></p>

<p>注文履歴一覧  <%= link_to '一覧を見る', orders_path %></p>