<div class="container">
  <p class="text-success"><%= flash[:alert] %></p>

  <div class="row mt-5 mb-4">
    <div class="col-sm-2 offset-sm-1">
      <h4 class="bg-light pl-3 pr-3">マイページ</h4>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-sm-1 p-0 align-self-center"><h5 class="font-weight-bold mb-0">登録情報</h5></div>
    <div class="col-sm-2 ml-3"><%= link_to '編集する', members_edit_path, class: "btn btn-success pl-4 pr-4" %></div>
  </div>

  <div class="row mb-4">
    <div class="col-sm-8 p-0">
    <table class="table table-bordered">
      <tr>
        <td class="table-active" scope="col" style="width: 30%">氏名</td>
        <td scope="col" style="width: 70%"><%= current_member.last_name %> <%= current_member.first_name %></td>
      </tr>
      <tr>
        <td class="table-active">カナ</td>
        <td><%= current_member.last_name_kana %> <%= current_member.first_name_kana %></td>
      </tr>
      <tr>
        <td class="table-active">郵便番号</td>
        <td><%= current_member.postal_code %></td>
      </tr>
      <tr>
        <td class="table-active">住所</td>
        <td><%= current_member.address %></td>
      </tr>
      <tr>
        <td class="table-active">電話番号</td>
        <td><%= current_member.phone_number %></td>
      </tr>
        <td class="table-active">メールアドレス</td>
        <td><%= current_member.email %></td>
    </table>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-sm-1 p-0 align-self-center"><h5 class="font-weight-bold mb-0">配送先</h5></div>
    <div class="col-sm-2 ml-3"><%= link_to '一覧を見る', addresses_path, class: "btn btn-primary pl-4 pr-4" %></div>
  </div>

  <div class="row mb-4">
    <div class="col-sm-1 p-0 align-self-center"><h5 class="font-weight-bold mb-0">注文履歴</h5></div>
    <div class="col-sm-2 ml-3"><%= link_to '一覧を見る', orders_path, class: "btn btn-primary pl-4 pr-4" %></div>
  </div>