<div class="container">
  <%= render "admin/admin/shared/error_messages", resource: @genre %>
  <div class="row">
    <div class="col-md-12 mt-3">
      <label class="h4 bg-light pr-3 pl-3 mt-3 mb-0">ジャンル編集</label>
      <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch, local:true do |f| %>
        <table class="table table-borderless mt-4" style="width: 50%">
          <tr>
            <td class="align-bottom" scope="col" style="width: 20%"><%= f.label "ジャンル名" %></td>
            <td class="align-middle" scope="col" style="width: 20%"><%= f.text_field :name, placeholder: "ジャンル名" %></td>
            <td class="text-center" scope="col" style="width: 30%"><%= f.submit "変更を保存", class: "btn btn-success" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>