<div class="container mt-3">
  <div class="row mx-auto">
    <div class="col-md-10 mx-auto">
      <label class="h4 bg-white pr-3 pl-3">注文履歴一覧</label>
      <table class="table mt-3 text-center">
        <thead>
          <tr class="bg-secondary text-white">
            <th scope="col" style="width: 30%">購入日時</th>
            <th scope="col" style="width: 30%">購入者</th>
            <th scope="col" style="width: 20%">注文個数</th>
            <th scope="col" style="width: 20%">注文ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr class="bg-white">
              <!--order.rbで記載したset_dateで日時を表示できる-->
              <td><%= link_to order.set_date, admin_order_path(order) %></td>
              <td><%= order.member.last_name %><%= order.member.first_name %></td>
              <td>
                <%= order.order_items.sum(:quantity) %>
              </td>
              <td><%= order.order_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= paginate(@orders) %>
      </div>
    </div>
  </div>
</div>