<%= form_with model: address do |f| %>
  <table>
    <tr>
      <td><%= f.label :postal_code, '郵便番号(ハイフンなし）' %></td>
      <td><%= f.text_field :postal_code, autofocus: true, placeholder: '0000000', class: "form-control" %></td>
      <td class="w-50"></td>
    </tr>
    <tr>
      <td><%= f.label :address, '住所' %></td>
      <td colspan="2"><%= f.text_field :address, autofocus: true,  placeholder: '東京都渋谷区代々木神園町0-0', class: " form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :shipping_name, '宛名' %></td>
      <td><%= f.text_field :shipping_name, autofocus: true, placeholder: '令和道子', class: "form-control" %></td>
    </tr>
  </table>
<% end %>
