<%= flash[:notice] %>
<h1>配送先登録/一覧</h1>

<%= render 'new_address', address: @address %>
<!--配送先登録のテンプレ-->
<%= form_with model: @address do |f| %>
<%= f.submit '新規登録', class: 'btn btn-success' %>
<% end %>
  
  <div class='container px-6 px-sm-0'>
    <table class="table">
      <thead class='table-dark'>
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th colspan='4'></th>
          <!--上にedit、deleteが入ります-->
        </tr>
      </thead>
      
      <tbody class='table-bordered'>
          <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.shipping_name %></td>
            <td>
              <%= link_to 'Edit', edit_address_path(address.id), class: "btn btn-sm btn-success" %>
              <%= link_to 'Destroy', address, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger"%>
            </td>
        <% end %>
          </tr>
        
      </tbody>
      
    </table>
  </div>
 