<div class="container">
  <div class="row">
    <label class="h4 bg-light pr-3 pl-3 mt-3">注文情報確認</label>
  </div>
  <div class="row">
    <div class="col-9">
    <table class="table bg-white">
      <thead class="table-secondary">
      <tr>
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>
      </tr>
      </thead>

      <% total = 0 %>
      <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <!--画像表示-->
              <%= image_tag cart_item.item.get_item_image(60,50) %>
              <%= cart_item.item.name %>
            </td>
            <td>
              <% item_price = (cart_item.item.price*1.1) %>
              <%= item_price.floor.to_s(:delimited) %>
            </td>
            <td><%= cart_item.quantity %></td>
            <td>
              <% subtotal = ((cart_item.item.price*cart_item.quantity)*1.1).to_i %>
              <%= subtotal.to_s(:delimited) %>
            </td>
            <% total += ((cart_item.item.price*cart_item.quantity)*1.1).to_i %>
          </tr>
        <% end %>
    </table>
    </div>

    <div class="col-3">
    <table class="table bg-white">
      <tr>
        <td>送料</td>
        <% @order.postage = 800 %>
        <td><%= @order.postage %></td>
      </tr>
      <tr>
        <td>商品合計</td>
        <td><%= total.to_s(:delimited) %></td>
      </tr>
      <tr>
        <td>請求金額</td>
        <% @order.total_payment = @order.postage + total.to_i %>
        <td><%= @order.total_payment.to_s(:delimited) %></td>
        <!--カート内の商品の合計＋送料を計算して、整数として表示させています。-->
      </tr>
    </table>
    </div>
  </div>

  <div class="row">
    <div class="col-7">
    <table class="table table-borderless bg-white">
      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method %></td>
      </tr>
      <tr>
        <th>お届け先</th>
        <td>
          〒<%= @order.post_code.to_s.insert(3, "-") %>
          <%= @order.address %><br>
          <%= @order.shipping_name %>
        </td>
      </tr>
    </table>
    </div>
  </div>
  <div class="text-center">
    <%= render 'success_confirm', orders: @orders %>
  </div>
    <!--注文確定ボタンのテンプレ-->



</div>