<h4>注文履歴一覧</h4>

  <div class='container px-6 px-sm-0'>
    <table class="table">
      <thead class='table-dark'>
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>ステータス</th>
          <th>注文詳細</th>
          <tbody class='table-bordered'>
          <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <%= order.post_code %>
              <%= order.address %>
              <%= order.shipping_name %>
            </td>
            <td>
              <% order.order_items.each do |o| %>
                <%= o.item.name %>
              <% end %>
            </td>
            <td><%= order.order_status_i18n %></td>
            <td><%= link_to '詳細画面', order_path(order.id), class: "btn btn-sm btn-success" %></td>
          <% end %>
          </tr>


      </tbody>

    </table>
  </div>
