<h4>注文履歴詳細画面</h1>
<table>
  <th>注文情報</th>
  <tr>
    <td>注文日</td>
    <td>配送先</td>
    <td>支払方法</td>
    <td>入金確認</td>
  </tr>
  <tr>
    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    <td>
      <%= @order.post_code %>
      <%= @order.address %>
      <%= @order.shipping_name %>
    </td>
    <td>
      <%= @order.payment_method %>
    </td>
    <td>
      <%= @order.order_status_i18n %>
    </td>
  </tr>
</table>

<table>
  <th>請求情報</th>
  <tr>
    <td>
      商品合計
    </td>
    <td>
      配送料
    </td>
    <th>ご請求額</th>
  </tr>

  <tr>
    <% order_items_total = 0 %>
    <!--注文商品全部を合わせた時の価格を求めています。-->
    <td>
      <% @order_items.each do |o| %>
      <% order_items_total += o.tax_in_price %>
      <% end %>
      <%= order_items_total %>
    </td>
    <td><%= @order.postage %></td>
    <td><%= @order.total_payment %></td>
  </tr>
</table>

<table>
  <tr>
    <th>注文内容</th>
    <td>商品</td>
    <td>単価(税込)</td>
    <td>個数</td>
    <td>小計</td>
  </tr>
    <% @order_items.each do |item| %>
  <tr>
    <td></td>
    <td><%= item.item.name %></td>
    <td><%= item.tax_in_price %></td>
    <td><%= item.quantity %></td>
    <td><%= (item.tax_in_price*item.quantity) %> </td>
    <!--商品ごとの小計を出しています(例：りんご(100円)×２個 =  4円-->
  </tr>
    <% end %>
</table>
