<div class='container'>
  <div class='row'>
        <div class='col-md-2'>
          <%= render 'genrs_search', genres: @genres %>
        </div>

          <div class= 'col-md-10'>
            <div class= 'm-3'>
              <h4 class='font-weight-bold' style= 'display: inline-block;'>商品一覧</h4>
                <span>(全<%= @count%>件)</span>
                <div class= 'd-flex flex-wrap'>
                  <% @items.each do |item| %>
                    <div>
                        <div class= 'p-2' >
                        <%= link_to item_path(item) do %>
                            <%= image_tag item.get_item_image(250,250) %>
                        <% end %>
                        </div>
                        <%= link_to item_path(item) do %>
                        <div><%= item.name %></div>
                        <% end %>
                        <div><%= item.number_to_currency %></div>
                    </div>
                  <% end %>
                </div>
            </div>
          </div>
    </div>
  </div>
</div>

<%= paginate @items %>
