<div class='container px-5 px-sm-0'>
  <div class='row'>
        <div class='col-md-3'>

          <%= render 'genrs_search', genres: @genres %>

        </div>

        <div class='d-inline-flex'>
          <% @items.each do |item| %>
            <div class="flex-column mr-3">
                <p>
                    <%= image_tag item.get_item_image(200,200) %>
                </p>
                <%= link_to item_path(item) do %>
                <p><%= item.name %></p>
                <% end %>
                <p><%= item.number_to_currency %></p>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
