<div class='container'>
  <div class='row'>
        <div class='col-2'>
          <%= render 'genrs_search', genres: @genres %>
        </div>

              <div class= 'col-6'> 
                  <div><%= image_tag @item.get_item_image(300,300) %></div>
              </div>
                  <%= form_with(model: @cart_item, url: cart_items_path, mehod: :post, local: true)do |f| %>
              <div> 
                  <h2><%= @item.name %></h2>
                  <div><%= @item.introduction %></div>
                  <div><%= @item.number_to_currency %><span>(税込)</span></div>
                  <%= f.select :quantity, *[1..50] %>
                  <%= f.hidden_field :item_id, :value => @item.id %>
                  <div><%= f.submit "カートに入れる" %></div>
                  <% end %>
              </div>
              
  </div>
</div>
